@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 235 37% 13%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 235 37% 13%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 0 0% 25%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 235 37% 13%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;
  }
}

.text-gradient {
  @apply bg-opacity-50 bg-gradient-to-b from-neutral-950 to-neutral-500 bg-clip-text text-transparent dark:from-neutral-50 dark:to-neutral-400;
}

.card {
  @apply bg-[#191919] shadow-sm border rounded-2xl;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.w-md-editor-toolbar ul li button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  width: 2rem;
}

.w-md-editor-toolbar ul li button svg {
  transform: scale(1.3);
  opacity: 0.8;
}

.wmde-markdown {
  background-color: transparent !important;
}

.wmde-markdown-var.w-md-editor.w-md-editor-show-live,
.w-md-editor-toolbar {
  background-color: #191919 !important;
}
.wmde-markdown a {
  color: #fbc466 !important;
}

.wmde-markdown h1,
.wmde-markdown h2,
.wmde-markdown h3,
.wmde-markdown h4,
.wmde-markdown h5,
.wmde-markdown h6 {
  border-bottom: none !important;
}

.customTitle {
  font-size: 5rem;
  font-weight: 900;
  line-height: 1.1;
  animation: zoomEffect 0.5s ease-out forwards;
}

.logo {
  font-weight: 900;
}

@keyframes zoomEffect {
  0% {
    transform: scale(0.6);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.zoomEffect {
  animation: zoomEffect 0.5s ease-out forwards;
}
.animatedText{
  text-transform: none;
  background-image: linear-gradient(to right, rgb(194, 168, 255), rgb(194, 168, 255), rgb(255, 153, 235), rgb(255, 153, 235), rgb(255, 148, 210), rgb(255, 148, 210), hsl(348, 100%, 78%), rgb(255, 143, 165), hsl(28, 100%, 75%), rgb(255, 187, 128), hsl(47, 100%, 74%), rgb(255, 226, 122), rgb(173, 216, 230), rgb(144, 238, 144));
  background-clip: text;
  color: transparent;
  filter: hue-rotate(0deg);
  background-size: 600% auto;
  animation: moveGradient 20s ease-in-out infinite;
}
.animatedTextWhite{
  background-color: white;
  text-transform: none;
  background-clip: text;
  color: transparent;
  filter: hue-rotate(0deg);
  background-size: 600% auto;
  animation: moveGradient 20s ease-in-out infinite;
}

@keyframes moveGradient {
  0% { background-position: 0% 10%; }
  50% { background-position: 100% 50%; }
  100% { background-position:0 90%; }
}

.gradientBG{
filter: hue-rotate(0deg);
background-image: linear-gradient(to right, rgb(194, 168, 255), rgb(194, 168, 255), rgb(255, 153, 235), rgb(255, 153, 235)) !important;
}

.recommended{
  background-image: linear-gradient(to right, rgb(194, 168, 255), rgb(194, 168, 255), rgb(255, 153, 235), rgb(255, 153, 235), rgb(255, 148, 210), rgb(255, 148, 210), hsl(348, 100%, 78%), rgb(255, 143, 165), hsl(28, 100%, 75%), rgb(255, 187, 128), hsl(47, 100%, 74%), rgb(255, 226, 122), rgb(173, 216, 230), rgb(144, 238, 144));
  filter: hue-rotate(0deg);
  background-size: 600% auto;
  animation: moveBG 20s ease-in-out infinite;
}

@keyframes moveBG {
  0% { background-position:  10% 0%; }
  50% { background-position:  50% 100%; }
  100% { background-position: 90% 0; }
}

.custom-bg::before {
  content: "";
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url('https://framerusercontent.com/images/rR6HYXBrMmX4cRpXfXUOvpvpB0.png') repeat;
  height: 400%;
  width: 400%;
  opacity: 0.03;
  pointer-events: none;
  z-index: -1; /* Ensure it stays behind other content */
}

.dotedNav{
  backdrop-filter: blur(30px);
  background-image: radial-gradient(circle, transparent 25%, rgb(25, 25, 25) 26%), linear-gradient(45deg, transparent 46%, rgb(25, 25, 25) 47%, rgb(25, 25, 25) 52%, transparent 53%), linear-gradient(135deg, transparent 46%, rgb(25, 25, 25) 47%, rgb(25, 25, 25) 52%, transparent 53%);
  background-size: 12px 12px;
  opacity: 1;
}

.twin .accordeonContent{
  display: none !important;
}

.play-button {
  width: 0;
  height: 0;
  border-left: .3rem solid transparent;
  border-right: .3rem solid transparent;
  border-bottom: .5rem solid white;
  cursor: pointer;
  transition: transform 0.2s;
  transform: scale(3) rotate(-45deg);
}

.pinkButton{
  background: linear-gradient(105deg, var(--token-453bc13c-d1fe-4e41-8437-573a6a0d2bb3, rgb(194, 168, 255)) /* {&quot;name&quot;:&quot;Primitive/Purple&quot;} */ 0%, var(--token-de20aae4-b9e3-4889-96c6-3c9ddfca9fb3, rgb(255, 153, 235)) /* {&quot;name&quot;:&quot;Primitives/Pink&quot;} */ 52.25225225225225%, var(--token-5bd83abb-9da9-4531-b25d-3b70d9eda54b, rgb(255, 226, 122)) /* {&quot;name&quot;:&quot;Primitives/Yellow&quot;} */ 100%);
  opacity: 1;
  transition: ease all .3s;
  background-size: 200% 200%;
            background-position: 0 0;
            color: black;

}

.pinkButton:hover{
  background-position: 100% 0;
  /* background: white; */
}

.glow{
transition: ease all .5s;
}

.gradient-mask {
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  place-items: start;
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  opacity: 1;
  mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 15%, rgb(0, 0, 0) 85%, rgba(0, 0, 0, 0) 100%);
  overflow: hidden;
}

a{
  transition: ease all .3s;
}

.rainbow-shadow {
  position: absolute;
  inset: -1rem;
  border-radius: 9999px;
  background: linear-gradient(to right, 
              rgb(224, 44, 45), 
              rgb(247, 146, 0), 
              rgb(244, 240, 0), 
              rgb(12, 255, 10), 
              rgb(11, 228, 255), 
              rgb(233, 8, 247));
  opacity: 0.4;
  backdrop-filter: blur(20px); /* Ajoute un flou à l'ombre */
  transition: opacity 1s ease;
}
